<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">

  {% include 'partials/head.html' %}

  <body>
    {% include 'partials/header.html' %}

    <main class="page-content" aria-label="Content">
      {% block content %}
        {{ contents | safe }}
      {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block extraScripts %}{% endblock %}
  </body>

</html>
