<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">

  {% include 'partials/head.html' %}

  <body>
    {% include 'partials/header.html' %}

    <main class="page-content" aria-label="Content">
      {% block content %}
        {{ contents | safe }}
      {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="/{{ hashes['js/main.js']}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js" integrity="sha512-s+tOYYcC3Jybgr9mVsdAxsRYlGNq4mlAurOrfNuGMQ/SCofNPu92tjE7YRZCsdEtWL1yGkqk15fU/ark206YTg==" crossorigin="anonymous"></script>
    <script>hljs.highlightAll();</script>
    {% block extraScripts %}{% endblock %}
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      docsearch({
        apiKey: 'f7c62ddab40e653f67a6e15be761d951',
        indexName: 'fastify',
        inputSelector: '#algolia-search-input',
        algoliaOptions: { 'facetFilters': ["version:latest", "tags:docs"] },
        debug: false // Set debug to true if you want to inspect the dropdown
      });
    </script> -->
  </body>

</html>
