{% extends "default.html" %}

{% block content %}
{% set path = path | replace("\\", "/") %}
<section class="hero is-primary" style="background-image: url(/{{ hashes['images/bg-pattern-dark.png'] }})">
  <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% set versionTitle = fullVersion %}
          {% if version == 'latest' %}
            {% set versionTitle = 'latest — ' + data.docs.releases[0].fullVersion %}
          {% endif %}
          Documentation ({{ versionTitle }})
        </h1>
      </div>
  </div>
</section>

<section class="section">
	<div class="container">
    <div class="columns">

      <div class="column is-3 is-hidden-mobile sticky-container">
        <aside class="menu sticky" id='toc'>
          {% for name, section in data.docs.toc[version] %}
            {% if not name=='' %}
              <p class="menu-label">
                <a href="{{ '/docs' + '/' + version + '/' + name }}">{{ name }}</a>
              </p>
            {% endif %}
            <ul class="menu-list">
              {% for item in data.docs.toc[version][name] %}
                {% if not (item.name == 'index') %}
                  <li  style="text-transform: capitalize" {% if item.link == '/' + path %}id="doc-menu-section"{% endif %}>
                    <a title="{{ item.name | striptags }}" {% if item.link == '/' + path %}class="is-active"{% endif %} href="{{ item.link }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
          <div class="content" style="margin: .8em; border-top: 1px solid #ccc; padding: .8em 0 0 0">
            Docs version
            <div class="field">
              <div class="control">
                <div class="select">
                  <select onchange="if (this.value) window.location.href=this.value">
                    {% for v in data.docs.versions %}
                      <option {% if docsPath == v %}selected="selected"{% endif %} value="/docs/{{ v }}">{{ v }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>

      <div class="column is-9">
        <nav class="breadcrumb">
          <ul>
            <li><a href="/" style="padding-left: 0">Fastify</a></li>
            <li><a href="/docs/{{version}}">Documentation</a></li>
            <li>
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select onchange="if (this.value) window.location.href=this.value" style="border: none;">
                      {% for v in data.docs.versions %}
                        <option {% if docsPath == v %}selected="selected"{% endif %} value="/docs/{{ v }}">{{ v }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <div class="field">
              <div class="control">
                <div class="select">
                  <select onchange="if (this.value) window.location.href=this.value" style="border: none;">
                    <option {% if ('/docs' + '/' + version + '/')=='/' + path %}selected="selected"{% endif %} value="{{ '/docs' + '/' + version }}">Documentation</a>
                    {% for name, section in data.docs.toc[version] %}
                      <!-- Exclude top level section as it has been added in the previous option -->
                      {% if not (name == '' and section != '') %}
                        <option {% if ('/docs' + '/' + version + '/' + name)=='/' + path %}selected="selected" {% endif %}
                          value="{{ '/docs' + '/' + version + '/' + name }}">{{ name }}</a>
                      {% endif %}
                      {% for item in data.docs.toc[version][name] %}
                        {% if not (item.name == 'index') %}
                          <option {% if item.link=='/' + path %}selected="selected" {% endif %} value="{{ item.link }}">{{
                            item.name }}</option>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </ul>
        </nav>

        <div id="doc-content" class="content">
          {{ contents | safe }}
        </div>

        <hr/>
        <nav class="level">
        {% for item in data.docs.toc[version] %}
          {% if item.link == '/' + path %}
            <div class="level-left">
              <div class="level-item">
                {% if loop.first %}
                  &nbsp;
                {% else %}
                  {% set previous = loop.index0 - 1 %}
                  {% set previous_page = data.docs.toc[version][previous] %}
                  <a href="{{ previous_page.link }}" class="button prev">≪ {{ previous_page.name }}</a>
                {% endif %}
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                {% if loop.last %}
                  &nbsp;
                {% else %}
                  {% set next = loop.index0 + 1 %}
                  {% set next_page = data.docs.toc[version][next] %}
                  <a href="{{ next_page.link }}" class="button next">{{ next_page.name }} ≫</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </nav>
      </div>
		</div>
  </div>
</section>

<script>
  // dynamically creates a submenu for the current section based on the content headers
  var titles = document.querySelectorAll('#doc-content h3, #doc-content h4')
  var currentMenu = document.getElementById('doc-menu-section')
  if (titles.length && currentMenu) {
    var submenu = document.createElement('ul')
    titles.forEach(el => {
      var currentSubmenuItem = document.createElement('li')
      var currentSubmenuLink = document.createElement('a')
      currentSubmenuLink.href = '#' + el.id
      currentSubmenuLink.title = el.textContent
      currentSubmenuLink.append(document.createTextNode(el.textContent))
      currentSubmenuItem.append(currentSubmenuLink)
      submenu.append(currentSubmenuItem)
    })
    currentMenu.append(submenu)
  }

  // dynamically creates header anchor links
  var headers = document.querySelectorAll('#doc-content h3, #doc-content h4')
  headers.forEach(el => {
    var currentAnchorLink = document.createElement('a')
    currentAnchorLink.className = 'anchor'
    currentAnchorLink.href = "#" + el.id
    currentAnchorLink.append(document.createTextNode('¶'))
    el.insertBefore(currentAnchorLink, el.firstChild);
  })
</script>
<script>
  const contentLoaded = document.addEventListener('DOMContentLoaded', setTOCHeight)
  const resize = window.addEventListener('resize', setTOCHeight)

  function setTOCHeight() {
    const docHeight = window.innerHeight
    const tocSidebar = document.querySelector('#toc') || 0

    const tocHeight = docHeight - tocSidebar.getBoundingClientRect().top

    document.documentElement.style
      .setProperty('--TOC-height', `${tocHeight}px`)
  }

  window.addEventListener('beforeunload', () => {
    document.removeEventListener(contentLoaded)
    window.removeEventListener(resize)
  })
</script>
{% endblock %}
