{% extends "default.html" %}

{% block content %}
<section class="hero is-primary" style="background-image: url('/images/bg-pattern-bright.png')">
  <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Documentation
        </h1>
      </div>
  </div>
</section>

<div class="container">
  <section class="section">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/" style="padding-left: 0">Fastify</a></li>
        <li class="is-active"><a>Documentation</a></li>
      </ul>
    </nav>
    <div class="content">
      <h2>Select version</h2>
      <ul>
        {% for v in data.docs.versions %}
          <li>
            <a href="/docs/{{ v }}">{{ v }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
{% endblock %}
