{% extends "default.html" %}

{% block content %}
<section class="hero is-primary" style="background-image: url(/{{ hashes['images/bg-pattern-dark.png'] }})">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
	<div class="container">
    <div class="content">
      <ul>
        <li>There are
          <a href="#Core Plugins"><strong>{{ data.ecosystem.plugins.corePlugins | length }}</strong> core plugins</a> and
          <a href="#Community Plugins"><strong>{{ data.ecosystem.plugins.communityPlugins | length }}</strong> community plugins</a>
        </li>
        <li>A core plugin is a plugin maintained by the fastify team, and we make our best to maintain them according
          to <a href="https://github.com/fastify/fastify/blob/master/docs/Reference/LTS.md">https://github.com/fastify/fastify/blob/master/Reference/docs/LTS.md.</a></li>
        <li>We guarantee that every community plugin respects Fastify best practices (tests, etc) at the time they have
          been added to the list. We offer no guarantee on their maintenance.</li>
        <li>
            Can't you find the plugin you are looking for? No problem, <a href="/docs/master/Reference/Plugins">it's very easy to
              write one</a>!
        </li>
      </ul>
    </div>
    <div class="content">
      <h2 id="Core Plugins">Core Plugins</h2>

      {{ contents | safe }}

      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for plugin in data.ecosystem.plugins.corePlugins %}
          <tr>
            <td><a href="{{ plugin.url }}" target="_blank" rel="noopener">{{ plugin.name }}</a></td>
            <td>{{ plugin.description | md | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2 id="Community Plugins">Community Plugins</h2>

      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for plugin in data.ecosystem.plugins.communityPlugins %}
          <tr>
            <td><a href="{{ plugin.url }}" target="_blank" rel="noopener">{{ plugin.name }}</a></td>
            <td>{{ plugin.description | md | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>Did you create a fastify plugin and want to list it here? <a href="https://github.com/fastify/fastify/blob/main/docs/Guides/Ecosystem.md">Submit
          a PR</a> and we will check it out!</p>
    </div>
  </div>
</section>
{% endblock %}
