version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.3

    working_directory: ~/fastify-website

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Test
          command: npm test

      - run:
          name: Build
          command: npm run build

      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              pip install --upgrade --user awscli
              npm run publish
            fi
