version: 2.0

jobs:
  build:
    docker:
      - image: circleci/node:12

    working_directory: ~/fastify-website

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
            - v1-releases-cache

      - run:
          name: Install dependencies
          command: npm ci

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - save_cache:
          paths:
            - build-temp/releases
          key: v1-releases-cache

      - run:
          name: Test
          command: npm test

      - run:
          name: Build
          command: npm run build

      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "$DOMAIN" > build/CNAME
              cp -r .circleci build/.circleci
              git config --global user.email "$GH_EMAIL"
              git config --global user.name "$GH_NAME"
              NODE_DEBUG=gh-pages npm run deploy -- -m 'automated build'

              curl -X DELETE "https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE/purge_cache" \
                 -H "X-Auth-Email: $CLOUDFLARE_EMAIL" \
                 -H "X-Auth-Key: $CLOUDFLARE_AUTH_KEY" \
                 -H "Content-Type: application/json" \
                 --data '{"purge_everything":true}'
            else
              echo "Not master branch so not deploying"
            fi

workflows:
  version: 2  
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
