@charset "utf-8";

$link: #00458B;
$primary: #04625C;

@import "../../../../node_modules/bulma/bulma.sass";

#main-navbar {
  border-bottom: 1px solid #ccc;
}

main.page-content {
  min-height: 80vh;
}

.hero {
  background: #000 0% 0% repeat;
  background-size: 54px;
}

.hero .subtitle {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 1px black;
}

.hero img.logo {
  max-width: 320px;
}

.section.alternate {
  background: #fdfdfd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.section .container p {
  margin: 0.8em 0;
}

.section.team .container p {
  margin: 0;
}

.content .hljs {
  background: transparent;
}

.swappable-async-await {
  background: #f5f5f5;
}

.swappable-async-await pre {
  background: transparent;
}

.swappable-async-await input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.swappable-async-await pre.no-async {
  display: none;
}

.swappable-async-await .swap-button-box {
  text-align: right;
  padding: 1em 1em 0;
}

.swappable-async-await .swap-button-box > label {
  display: inline-block;
  font-family: monospace;
  font-size: 0.8em;
  cursor: pointer;
}

.swappable-async-await .toggle-checkbox {
  font-size: 24px;
  display: inline-block;
  vertical-align: top;
}

.swappable-async-await .toggle-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.swappable-async-await .toggle-checkbox label {
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: block;
}

.swappable-async-await .toggle-checkbox label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s ease;
  background: #bbb;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.swappable-async-await .toggle-checkbox label:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  left: 0;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  animation: switch-off 0.2s ease-out;
  z-index: 2;
}

.swappable-async-await
  .toggle-checkbox
  input[type='checkbox']:checked
  + label:before {
  background: #70c1b3;
  box-shadow: inset 0px 1px 1px rgba(84, 152, 140, 0.5);
}

.swappable-async-await
  .toggle-checkbox
  input[type='checkbox']:checked
  + label:after {
  animation: switch-on 0.2s ease-out;
  left: 1.1em;
}

a {
  text-decoration: underline;
}

a.anchor {
  color: #808080;
  padding: 0 0 0 0.5rem;
  float: right;
}

a.anchor:hover {
  color: #4a4a4a;
}

a img, a svg {
  border-bottom: none;
}

#main-navbar {
  a {
    text-decoration: none;
  }
}

#main-navbar .control.has-icons-left .icon.is-left {
  left: 18px;
  top: 18px;
  height: 1em;
}

.organisations-list {
  margin: 0 0 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  justify-items: center;
}

.organisations-list.align-start {
  justify-content: flex-start;
}

.organisations-list li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.6rem !important;
  max-height: 60px;
}

.organisations-list li a {
  text-decoration: none;
}

.organisations-list li a img {
  height: auto;
  max-width: 100%;
  max-height: 60px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s;
}

.organisations-list li a:hover img {
  filter: none;
  -webkit-filter: none;
}

.menu-list a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .breadcrumb .select {
  height: auto;
}

.container .breadcrumb .select select {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

#openjs-logo {
  padding: 2em 0 1em 0;
  width: 60%;
  max-width: 380px
}

.contributor-picture {
  clip-path: polygon(59.999844548019226% 92.32054673176552%,56.84023913616054% 93.79387512589675%,53.47279582181356% 94.69617275659286%,49.99983470577035% 94.99999999969643%,46.526875821860415% 94.69614724280407%,43.159439136252836% 93.79382487351238%,39.99984454815416% 92.32047326766346%,18.349250463364015% 79.82039374050645%,15.493507808397666% 77.82076325076447%,13.028386863379126% 75.35561419585301%,11.02877735314808% 72.49985685085788%,9.555438959016868% 69.34025143896247%,8.653151328320753% 65.9728081246522%,8.349314085217195% 62.49984700857227%,8.349405915344782% 37.49984700874092%,8.653268672237125% 34.026888124867725%,9.555581041528825% 30.659451439223407%,11.028942647377725% 27.499856851161457%,13.028573137119722% 24.644114196195112%,15.493712192067917% 22.17898325113984%,18.349469537063044% 20.179373740908805%,40.000155451980774% 7.679453268234471%,43.15976086383946% 6.2061248741032555%,46.52720417818644% 5.303827243407138%,50.00016529422965% 5.000000000303579%,53.473124178139585% 5.30385275719593%,56.840560863747164% 6.206175126487634%,60.00015545184584% 7.679526732336538%,81.65074953663598% 20.17960625949355%,84.50649219160233% 22.179236749235535%,86.97161313662087% 24.644385804147%,88.97122264685191% 27.500143149142122%,90.44456104098313% 30.65974856103755%,91.34684867167925% 34.027191875347796%,91.6506859147828% 37.50015299142773%,91.65059408465521% 62.50015299125908%,91.34673132776288% 65.97311187513228%,90.44441895847118% 69.3405485607766%,88.97105735262227% 72.50014314883855%,86.97142686288028% 75.35588580380488%,84.50628780793208% 77.82101674886017%,81.65053046293696% 79.82062625909118%);
}

.contributor-links {
  padding: .5em 0 0 0;

  .icon__icon.npm:hover {
    color: #EA2039;
  }

  .icon__icon.twitter:hover {
    color: #1DA1F2;
  }
}

#good-first-issues {
	display: flex;
  flex-direction: column;

	.spinner {
		animation: rotate360 1s linear infinite;
    transform: translateZ(0);

    border-top: 3px solid $primary;
    border-right: 3px solid $primary;
    border-bottom: 3px solid $primary;
    border-left: 3px solid #333;
    background: transparent;
    width: 24px;
    height: 24px;
	  border-radius: 50%;
	  margin: 0 auto;
  }
  
  .good-issue {
    margin: 0 0 .5em 0;
  }

	.error-result, .no-issues {
		padding: 1rem;
		width: 100%;
		text-align: center;
		border-top: 1px solid #ccc;
	}
}

@keyframes rotate360 {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.media.v-center {
  align-items: center;
}

code, pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

// Algolia SearchBar
.DocSearch {
  width: 100%;
  
  &.DocSearch-Button{
    margin: 0 !important;
    border: 1px solid black;
    border-radius: 0;
    background-color: transparent;
  }

  &-Button-Keys {
    display: none !important;
  }

  &:hover {
    box-shadow: none !important;
  }

  &-Search-Icon {
    transform: scale(.66);
    transform-origin: center;
    margin-right: 5px;
  }
}

// TEMPORAL BANNER

.banner {
  overflow: hidden;

  & > .container {
    padding: 3rem 1.5rem;
    position: relative;

    @include mobile {
      padding: 2rem 1.5rem;
    }
  }

  &-text {
    font-size: 2rem;
    font-weight: 500;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &-header {
    color: #000;
    span {
      font-style: italic;
    }
  }

  &-description {
    font-weight: 400;
    font-size: 0.66em;
  }

  &-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: -40%;

    @include mobile {
      left: -33%;
    }

    & > img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      opacity: 0.15;
      transform-origin: center;
      transform: scale(2);

      @include widescreen {
        transform: scale(2.5);
      }
    }
  }
}
