#main-navbar {
  border-bottom: 1px solid #ccc
}

.hero {
  background: #000 0% 0% repeat;
  background-size: 54px;
}

.hero .subtitle {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 1px black;
}

.hero img.logo {
  max-width: 320px
}

.section.alternate {
  background: #fdfdfd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.section .container p {
  margin: .8em 0;
}

.section.team .container p {
  margin: 0;
}

.content .hljs {
  background: transparent
}

.swappable-async-await {
  background: #f5f5f5;
}

.swappable-async-await pre {
  background: transparent;
}

.swappable-async-await input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.swappable-async-await pre.no-async {
  display: none;
}

.swappable-async-await .swap-button-box {
  text-align: right;
  padding: 1em 1em 0;
}

.swappable-async-await .swap-button-box > label {
  display: inline-block;
  font-family: monospace;
  font-size: .8em;
  cursor: pointer;
}

.swappable-async-await .toggle-checkbox {
  font-size: 24px;
  display: inline-block;
  vertical-align: top;
}

.swappable-async-await .toggle-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.swappable-async-await .toggle-checkbox label {
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: block;
}

.swappable-async-await .toggle-checkbox label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s ease;
  background: #BBB;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.swappable-async-await .toggle-checkbox label:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  left: 0;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  animation: switch-off .2s ease-out;
  z-index: 2;
}

.swappable-async-await .toggle-checkbox input[type=checkbox]:checked + label:before {
  background: #70C1B3;
  box-shadow: inset 0px 1px 1px rgba(84, 152, 140, 0.5);
}

.swappable-async-await .toggle-checkbox input[type=checkbox]:checked + label:after {
  animation: switch-on .2s ease-out;
  left: 1.1em;
}

a.anchor {
  color: #808080;
  padding: 0 0 0 .5rem;
  float: right;
}

a.anchor:hover {
  color: #4a4a4a;
}

#main-navbar .control.has-icons-left .icon.is-left {
  left: 18px;
  top: 18px;
  height: 1em;
}
