<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title | escape }}</title>
  <meta name="description" content="{{ pexcerpt | default(description) | striptags | truncate(160) | escape }}">

  <link rel="apple-touch-icon" sizes="57x57" href="/{{ hashes['images/apple-icon-57x57.png'] }}">
  <link rel="apple-touch-icon" sizes="60x60" href="/{{ hashes['images/apple-icon-60x60.png'] }}">
  <link rel="apple-touch-icon" sizes="72x72" href="/{{ hashes['images/apple-icon-72x72.png'] }}">
  <link rel="apple-touch-icon" sizes="76x76" href="/{{ hashes['images/apple-icon-76x76.png'] }}">
  <link rel="apple-touch-icon" sizes="114x114" href="/{{ hashes['images/apple-icon-114x114.png'] }}">
  <link rel="apple-touch-icon" sizes="120x120" href="/{{ hashes['images/apple-icon-120x120.png'] }}">
  <link rel="apple-touch-icon" sizes="144x144" href="/{{ hashes['images/apple-icon-144x144.png'] }}">
  <link rel="apple-touch-icon" sizes="152x152" href="/{{ hashes['images/apple-icon-152x152.png'] }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/{{ hashes['images/apple-icon-180x180.png'] }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="/{{ hashes['images/android-icon-192x192.png'] }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/{{ hashes['images/favicon-32x32.png'] }}">
  <link rel="icon" type="image/png" sizes="96x96" href="/{{ hashes['images/favicon-96x96.png'] }}">
  <link rel="icon" type="image/png" sizes="16x16" href="/{{ hashes['images/favicon-16x16.png'] }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% include 'partials/social-graph.html' %}

  <link rel="stylesheet" href="/{{ hashes['css/style.css'] }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css" integrity="sha512-kZqGbhf9JTB4bVJ0G8HCkqmaPcRgo88F0dneK30yku5Y/dep7CZfCnNml2Je/sY4lBoqoksXz4PtVXS4GHSUzQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" crossorigin="anonymous" />

  {% if canonical %}
    <link ref="canonical" href="{{ canonical }}">
  {% else %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}

  {% if google_analytics %}
    {% include 'partials/google-analytics.html' %}
  {% endif %}
</head>
