<nav id="main-navbar" class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/fastify-logo-menu.png" alt="Fastify: Fast and low overhead web framework, for Node.js" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/fastify/fastify" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="mobileMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="mobileMenu">
    <div class="navbar-start">
      <a class="navbar-item " href="/">Home</a>
      <a class="navbar-item " href="/docs">Docs</a>
      <a class="navbar-item " href="/ecosystem">Ecosystem</a>
      <a class="navbar-item " href="/benchmarks">Benchmarks</a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/fastify/fastify" target="_blank">
        <span class="fa fa-github"> </span>&nbsp;Github
      </a>
    </div>
  </div>
</nav>
