<nav id="main-navbar" class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/{{ hashes['images/fastify-logo-menu.png'] }}" alt="Fastify: Fast and low overhead web framework, for Node.js" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/fastify/fastify" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="mobileMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="mobileMenu">
    <div class="navbar-start">
      <a class="navbar-item " href="/">Home</a>
      <a class="navbar-item " href="/docs/latest">Docs</a>
      <a class="navbar-item " href="/ecosystem">Ecosystem</a>
      <a class="navbar-item " href="/benchmarks">Benchmarks</a>
      <a class="navbar-item " href="/contribute">Contribute</a>
      <a class="navbar-item " href="https://medium.com/@fastifyjs/">Blog</a>
      <a class="navbar-item " href="https://github.com/fastify/help">Help</a>
    </div>

    <div class="navbar-end">
      <span class="control has-icons-left navbar-item">
        <input id="algolia-search-input" class="input" type="search" placeholder="">
        <span class="icon is-medium is-left">
          <i class="fa fa-search"></i>
        </span>
      </span>

      <a class="navbar-item" href="https://github.com/fastify/fastify" target="_blank">
        <span class="fa fa-github"> </span>&nbsp;GitHub
      </a>
      <a class="navbar-item" href="https://twitter.com/fastifyjs" target="_blank">
        <span class="fa fa-twitter"> </span>&nbsp;Twitter
      </a>
    </div>
  </div>
</nav>
